###############################################################################
# Please modify this file if you want to configure your own application.
# You can uncommon and/or change the following Kconfig elements.
###############################################################################


if ROOTFS_COMPONENT_@DIRPREFIX@_NAME_@APPNAME@
	comment "No additional options for @APPNAME@"

# 	config @DIRPREFIX@_@APPNAME@_OPTION0
#	bool "option0"
#	help
#	  Help text
endif
